body {
  background-color: white;
  color: black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.backgroud {
  background-color: white;
  box-shadow: 10px #393833;
  box-shadow: 0px 5px 5px rgba(152, 152, 152, 0.5);
}
.navbar {
  height: 118px;
  z-index: 100;
}
.navbar-collapse {
  flex-grow: 0;
}
.search:hover .nav-text {
  display: block;
}
.search {
  position: relative;
}
.container-fluid,
.collapse {
  padding: 25px 0;
}
.nav-text {
  width: 270px;
  display: none;
  position: absolute;
  top: -3px;
  right: 2px;
  display: none;
}
.nav-text input {
  border-radius: 15px;
  border: 1.5px solid #ffc701;
}
.nav-text button {
  background-color: white;
  color: #ffc701;
  border: white;
}
.nav-shopping {
  margin-right: 10px;
}
.nav-shopping,
.navbar-toggler {
  display: inline-block;
}
.ol,
ul {
  padding-left: 0;
}
.navbar-nav {
  --bs-nav-link-padding-x: none;
}
.container-fluid {
  margin: 0 13%;
}
.nav-item,
.nav-icon,
.nav-search {
  font-size: 20px;
  font-weight: normal;
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
}
.nav-link {
  color: #908f88;
}
.navbar-nav {
  margin-right: 15px;
}
.nav-link:hover {
  color: #ffc701;
}
.nav-icon:hover {
  color: #ffc701;
}
.nav-button {
  background-color: #ffc701;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  padding: 15px 47px 15px 47px;
  border-radius: 15px;
  border: #ffc701;
  text-decoration: none;
}
.nav-button:hover {
  background-color: #fbdb6b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
}

.img img {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 auto;
  z-index: 50;
}
h1 {
  font-size: 36px;
  margin-bottom: 36px;
}
p {
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 3px;
}
.up {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 60px auto;
}
.down {
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
}
.up-brand {
  padding: 50px;
  margin: auto;
}
.down-brand {
  padding: 50px;
  margin: auto;
}
.six {
  display: flex;
  margin-top: 150px;
  align-items: center;
  justify-content: center;
}
.six img {
  display: flex;
  width: 70%;
  height: auto;
  margin: 0 auto;
  z-index: 50;
}
.form {
  display: flex;
  margin-top: 133px;
  align-items: center;
  justify-content: center;
}
.form img {
  display: flex;
  width: 70%;
  height: auto;
  margin: 0 auto;
  z-index: 50;
}
.phoce-form {
  display: none;
}
.footer {
  display: inline-block;
  background-color: #f5f5f5;
  height: 100px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin: 133px auto 0;
}
.footer a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #393833;
  text-decoration: none;
  width: 12%;
  margin-left: 6px;
}
.footer a:hover {
  color: #908f88;
}
.down-down {
  display: flex;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 90px;
  justify-content: center;
}
.footer,
.down-down {
  justify-content: center;
}
.material-symbols-outlined {
  background-color: #908f88;
  color: #ffffff;
  border-radius: 60px;
  margin-left: 5px;
  padding: 10px;
  font-size: 24px;
}
.material-symbols-outlined:hover {
  background-color: #fbdb6b;
  color: #ffffff;
  border-radius: 60px;
  margin-left: 5px;
  padding: 10px;
  font-size: 24px;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler,
  .navbar-expand-lg .nav-shopping {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .container-fluid .navbar-brand img {
    width: 105px;
    height: auto;
  }
  .navbar-brand {
    margin-left: 5%;
  }
  .phone {
    margin-right: 5%;
  }
  .container-fluid {
    position: relative;
    margin: 0 0%;
  }
  .navbar-collapse {
    background-color: white;
    width: 100%;
    height: 100vh;
    box-shadow: 0 10px 5px inset #d6d6d6;
  }
  .nav-item {
    font-size: 20px;
    font-weight: normal;
    padding: 18px;
    display: inline-block;
    vertical-align: middle;
  }
  .navbar-nav {
    margin: 0 5%;
    position: relative;
    top: 130px;
  }
  .nav-link {
    padding: 0 18px;
    height: 50px;
    border-bottom: solid #908f88 1px;
  }

  .nav-text {
    display: block;
  }
  .nav-icon {
    display: none;
  }
  .nav-search {
    padding: 0;
  }
  .nav-car {
    color: #908f88;
  }
  .nav-car:hover {
    color: #ffc701;
  }
  .search {
    position: relative;
    top: -340px;
  }
  .nav-search .search a {
    display: none;
  }
  .nav-text {
    width: 100%;
    left: 0%;
  }
  .nav-text input {
    width: 100%;
    height: 61px;
    border-radius: 15px;
    border: 1.5px solid #908f88;
    padding-inline-start: 68px;
  }
  .nav-text button {
    position: absolute;
    left: 27px;
    top: 14px;
    color: #393833;
  }
  .nav-button {
    position: absolute;
    background-color: white;
    color: #908f88;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    width: 95%;
    height: 50px;
    font-size: 20px;
    font-weight: normal;
    padding: 0 18px;
    border-radius: 0px;
    border: #ffc701;
    text-decoration: none;
    border-bottom: solid #908f88 1px;
  }
  .nav-button:hover {
    background-color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #ffc701;
  }
  .nav-button button {
    font-size: 20px;
    background-color: white;
    color: #908f88;
  }
  .img {
    display: flex;
    overflow: hidden;
    height: 330px;
    width: 100%;
  }
  .img img {
    display: flex;
    width: auto;
    height: 330px;
    text-align: center;
    margin: 0 auto;
    z-index: 50;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  p {
    font-size: 12px;
    line-height: 21.6px;
    letter-spacing: 0.1em;
  }
  .up {
    display: block;
    text-align: center;
    max-width: 90%;
    margin: 30px auto;
  }
  .up img {
    width: 100%;
    height: auto;
  }
  .down img {
    width: 100%;
    height: auto;
  }
  .up p {
    text-align: start;
  }
  .down p {
    text-align: start;
  }
  .down {
    display: block;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
  }
  .up-brand {
    padding: 20px;
    margin: auto;
  }
  .down-brand {
    padding: 20px;
    margin: auto;
  }
  .icon,
  .form {
    display: none;
  }
  .phoce-form {
    display: flex;
    width: 90%;
    height: auto;
    margin: 40px auto;
    z-index: 50;
  }
  .phoce-form img {
    display: flex;
    width: 90%;
    height: auto;
    margin: 0 auto;
    z-index: 50;
  }
  .footer {
    font-size: 16px;
    margin: 100px auto 0;
  }
  .footer img {
    width: 36px;
    height: auto;
  }
  .down-down {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: 70px;
  }
}
@media (max-width: 576px) {
  .nav-item {
    font-size: 16px;
  }
  .footer {
    font-size: 14px;
  }
  .footer a {
    width: 16%;
  }
  .footer img {
    width: 20px;
    height: auto;
  }
  .down-down {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    height: 70px;
  }
  .nav-item {
    font-size: 18px;
    font-weight: normal;
    padding: 18px;
    display: inline-block;
    vertical-align: middle;
  }
  .nav-button {
    position: absolute;
    background-color: white;
    color: #908f88;
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    width: 95%;
    font-size: 18px;
    font-weight: normal;
    padding: 0 18px;
    border-radius: 0px;
    border: #ffc701;
    text-decoration: none;
    border-bottom: solid #908f88 1px;
  }
  .img {
    display: flex;
    height: 200px;
    overflow: hidden;
    width: 100%;
  }
  .img img {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
    z-index: 50;
  }
  .material-symbols-outlined {
    background-color: #908f88;
    color: #ffffff;
    border-radius: 60px;
    margin-left: 5px;
    padding: 10px;
    font-size: 20px;
  }
  .material-symbols-outlined:hover {
    background-color: #fbdb6b;
    color: #ffffff;
    border-radius: 60px;
    margin-left: 5px;
    padding: 10px;
    font-size: 20px;
  }
}
