.container {
  height: 118px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 5px #d6d6d6;
  padding: 0px 5%;
}
.backgroud {
  background-color: white;
  box-shadow: 10px #393833;
  box-shadow: 0px 5px 5px #eaeaea;
}
.navbar {
  height: 118px;
  z-index: 100;
}
.navbar-collapse {
  flex-grow: 0;
}
.search:hover .nav-text {
  display: block;
}
.search {
  position: relative;
}
.container-fluid,
.collapse {
  padding: 25px 0;
}
.nav-text {
  width: 270px;
  display: none;
  position: absolute;
  top: -3px;
  right: 2px;
  display: none;
}
.nav-text input {
  border-radius: 15px;
  border: 1.5px solid #ffc701;
}
.nav-text button {
  background-color: white;
  color: #ffc701;
  border: white;
}
.nav-shopping {
  margin-right: 10px;
}
.nav-shopping,
.navbar-toggler {
  display: inline-block;
}
.ol,
ul {
  padding-left: 0;
}
.navbar-nav {
  --bs-nav-link-padding-x: none;
}
.container-fluid {
  margin: 0 13%;
}
.nav-item,
.nav-icon,
.nav-search {
  font-size: 20px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
}
.nav-link {
  color: #908f88;
}
.navbar-nav {
  margin-right: 15px;
}
.nav-link:hover {
  color: #ffc701;
}
.nav-icon:hover {
  color: #ffc701;
}
.nav-button {
  background-color: #ffc701;
  color: #393833;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  padding: 15px 47px 15px 47px;
  border-radius: 15px;
  border: #ffc701;
  text-decoration: none;
}
.nav-button:hover {
  background-color: #fbdb6b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
}

.all {
  margin-bottom: 100px;
}
#button {
  font-size: 16px;
  height: 50px 127px;
  background-color: #ffc701;
  border-radius: 15px;
  padding: 18px 50px;
  font-weight: bold;
  text-decoration: none;
  color: #393833;
}
#cart {
  background-image: url(../image/cart.svg);
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
}
#cart:hover {
  background-image: url(../image/icon.svg);
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
}
.content {
  text-align: center;
}
a:hover {
  color: #ffc701;
}
#button:hover {
  background-color: #fed749;
  color: #393833;
}
.all {
  padding: 0px 5%;
}
.top .bottom {
  text-align: center;
  width: 88%;
  vertical-align: middle;
}
#p {
  font-size: 36px;
  text-align: center;
  margin: 50px 0px;
  font-family: sans-serif;
}
.link {
  text-decoration: none;
}
.middle {
  display: none;
}
.one {
  display: inline-block;
  width: 28%;
  background-color: #f5f5f5;
  border-radius: 15px;
  vertical-align: middle;
  margin: 0px 15px 30px;
  height: 250px;
  position: relative;
}
.right {
  padding: 0px 0px 200px 0px;
  text-align: right;
  font-weight: normal;
  font-family: sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: bottom;
  position: absolute;
  right: 20px;
  top: 14px;
}
.left {
  width: 36%;
  display: inline-block;
  position: absolute;
  bottom: 18px;
  left: 20px;
}
.left img {
  width: 100%;
  text-align: left;
  margin-right: 50px;
}
#big {
  width: 78%;
}
#big2 {
  width: 60%;
}
#big3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.right p {
  margin: 0px;
  font-weight: normal;
  color: #908f88;
  font-size: 16px;
  line-height: normal;
  padding-bottom: 150px;
}
.right h1 {
  color: #393833;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 180%;
  margin-bottom: 20xpx;
}

.left img {
  padding-left: 0px;
  text-align: left;
}
.bottom {
  justify-content: center;
  height: 30%;
}
#change {
  padding: 0px 0px 80px 0px;
}
#acc {
  padding: 0px 0px 98px 0px;
}
#many {
  padding: 0px 0px 64px 0px;
}
#hand {
  padding: 0px 0px 48px 0px;
}
.one:hover {
  background-color: #fbdb6b;
}
.one p:hover {
  color: #393833;
}
.footer {
  text-align: center;
}

.footer-gray a {
  text-decoration: none;
  color: #393833;
  width: 12%;
  margin: 3%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 20px;
}
.footer-gray a:hover {
  text-decoration: none;
  color: #727272;
  width: 12%;
  margin: 3%;
}
.material-symbols-outlined {
  background-color: #908f88;
  width: 46px;
  line-height: 46px;
  color: #ffffff;
  border-radius: 60px;
  margin-left: 5px;
}
.material-symbols-outlined:hover {
  background-color: #fbdb6b;
  width: 46px;
  line-height: 46px;
  color: #ffffff;
  border-radius: 60px;
  margin-left: 5px;
}
.footer-gray {
  background-color: #f5f5f5;
  line-height: 132px;
  text-align: center;
  align-items: center;
}
.footer-white {
  line-height: 90px;
  color: #393833;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler,
  .navbar-expand-lg .nav-shopping {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .container-fluid .navbar-brand img {
    width: 105px;
    height: auto;
  }
  .navbar-brand {
    margin-left: 5%;
  }
  .phone {
    margin-right: 5%;
  }
  .container-fluid {
    position: relative;
    margin: 0 0%;
  }
  .navbar-collapse {
    background-color: white;
    width: 100%;
    height: 1080px;
    box-shadow: 0 10px 5px inset #d6d6d6;
  }
  .nav-item {
    font-size: 20px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px;
    display: inline-block;
    vertical-align: middle;
  }
  .navbar-nav {
    margin: 0 5%;
    position: relative;
    top: 130px;
  }
  .nav-link {
    padding: 0 18px;
    height: 50px;
    border-bottom: solid #908f88 1px;
  }

  .nav-text {
    display: block;
  }
  .nav-icon {
    display: none;
  }
  .nav-search {
    padding: 0;
  }
  .nav-car {
    color: #908f88;
  }
  .nav-car:hover {
    color: #ffc701;
  }
  .search {
    position: relative;
    top: -340px;
  }
  .nav-search .search a {
    display: none;
  }
  .nav-text {
    width: 100%;
    left: 0%;
  }
  .nav-text input {
    width: 100%;
    height: 61px;
    border-radius: 15px;
    border: 1.5px solid #908f88;
    padding-inline-start: 68px;
  }
  .nav-text button {
    position: absolute;
    left: 27px;
    top: 14px;
    color: #393833;
  }
  .nav-button {
    position: absolute;
    background-color: white;
    color: #908f88;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: 50px;
    font-size: 20px;
    font-weight: normal;
    padding: 0 18px;
    border-radius: 0px;
    border: #ffc701;
    text-decoration: none;
    border-bottom: solid #908f88 1px;
  }
  .nav-button:hover {
    background-color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #ffc701;
  }
  .nav-button button {
    font-size: 20px;
    background-color: white;
    color: #908f88;
  }
  #media-none {
    display: none;
  }
  .middle {
    display: block;
  }
  .top .bottom {
    text-align: center;
    width: 80%;
    vertical-align: middle;
  }
  .one {
    display: inline-block;
    padding: 20px;
    width: 40%;
    background-color: #f5f5f5;
    border-radius: 15px;
    vertical-align: middle;
    margin: 0px 15px 30px;
    min-height: 11.375rem;
    position: relative;
  }
  .right {
    padding: 0px 0px 200px 0px;
    text-align: right;
    font-weight: normal;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    display: inline-block;
    vertical-align: bottom;
    position: absolute;
    top: 14px;
    right: 20px;
  }
  .left {
    width: 36%;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .left img {
    width: 100%;
    text-align: left;
  }
  #big {
    width: 74%;
    position: absolute;
    bottom: 4px;
    left: 4px;
  }
  #big2 {
    width: 60%;
  }
  #big3 {
    position: absolute;
    bottom: 10px;
    left: 14px;
  }
  .right p {
    margin: 0px;
    font-weight: normal;
    color: #908f88;
    font-size: 14px;
    line-height: normal;
  }
  .right h1 {
    color: #393833;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 4px;
  }

  .left img {
    padding-left: 0px;
    text-align: left;
  }
  .bottom {
    justify-content: center;
    height: 30%;
  }

  .footer-gray {
    background-color: #f5f5f5;
    line-height: 100px;
    text-align: center;
    align-items: center;
    font-size: 16px;
  }
  .footer-white {
    line-height: 78px;
    color: #393833;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
  }
  .all {
    margin-bottom: 70px;
  }
  .footer-gray a {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  .all {
    margin-bottom: 30px;
  }
  .right p {
    margin: 0px;
    font-weight: normal;
    color: #908f88;
    font-size: 14px;
    line-height: normal;
    text-align: right;
  }
  .one {
    width: 88%;
    background-color: #f5f5f5;
    border-radius: 15px;
    margin-bottom: 30px;
    min-height: 11.375rem;
    position: relative;
    text-align: center;
    height: auto;
  }
  .right h1 {
    color: #393833;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 4px;
  }
  .right {
    padding: 0px 0px 200px 0px;
    text-align: right;
    font-weight: normal;
    font-family: sans-serif;
    font-weight: normal;
    letter-spacing: 2px;
    vertical-align: bottom;
    position: absolute;
    right: 20px;
    top: 14px;
    left: 10px;
  }
  .left {
    width: 40%;
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }
  .left img {
    width: 100%;
    text-align: left;
    margin-right: 50px;
  }
  #big {
    width: 74%;
  }
  #big2 {
    width: 60%;
  }
  #big3 {
    position: absolute;
    bottom: 10px;
    left: 30px;
  }
  #p {
    font-size: 24px;
    text-align: center;
    margin: 50px 0px;
    font-family: sans-serif;
  }
  .footer-gray a {
    text-decoration: none;
    color: #727272;
    width: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin: 2%;
  }
  .footer-white {
    height: 80px;
  }
  .footer-gray a:hover {
    text-decoration: none;
    color: #393833;
    width: 8%;
    margin: 8px;
  }
  .material-symbols-outlined {
    background-color: #908f88;
    width: 38px;
    line-height: 38px;
    color: #ffffff;
    border-radius: 60px;
    margin-left: 5px;
    font-size: 20px;
  }
  .material-symbols-outlined:hover {
    background-color: #fbdb6b;
    width: 46px;
    line-height: 46px;
    color: #ffffff;
    border-radius: 60px;
    margin-left: 5px;
  }
}
