.top-text .table-c tr td {
  vertical-align: middle;
  padding: 40px 2.5vw;
}
.top-text table tr td a {
  color: #393833;
}
.top-text table tr td a:hover {
  color: #fbdb6b;
}
.top-text {
  width: 90%;
}
.info-text {
  border-bottom: 1px solid #c2c2c2;
  padding: 2%;
}
.media-text {
  font-size: 20px;
  display: none;
}
table {
  margin: 0 15%;
  width: 70%;
}
.table-two {
  margin-top: 5%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(203, 203, 203, 0.5);
  width: 80%;
  text-align: center;
}
.table-two td,
.table-two tr {
  padding: 2%;
}
table .table-two {
  background-color: white;
  border-radius: 15%;
  box-shadow: 0px 5px 15px #c2c2c2;
}
.table-img,
.table-m {
  display: none;
}
.top-text-img h2,
img,
p {
  display: inline-block;
  vertical-align: middle;
}
.img-c {
  width: 48%;
}
.amount-c {
  width: 10%;
}
.standard-c {
  width: 26%;
  vertical-align: middle;
  text-align: left;
}
#price {
  width: 8%;
}
.top-text-img p {
  font-size: 16px;
  margin-left: 30px;
  margin-top: 30px;
}
.top-text-img h2 {
  font-size: 20px;
  margin-right: 40px;
}
.address-pay h1,
.pickup-info h1,
.receipt h1,
.costtitle h1 {
  font-size: 36px;
  letter-spacing: 10%;
}
.pickup-info input,
.receipt input {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  padding-left: 15px;
  color: #000000;
  border: solid #908f88 1px;
}
.address-county,
.address-town,
.type-address {
  display: inline-block;
  margin-right: 20px;
}
.address-town p {
  margin-left: 0;
}
.deliveryselections,
.payselections,
.pickupselections,
.countyselections,
.townselections {
  display: inline-block;
  vertical-align: middle;
}
.payselections summary {
  padding: 15px;
}
details {
  position: relative;
  width: 15%;
}

details[open] {
  z-index: 1;
}
/*選擇器樣式更改*/
summary {
  width: 200px;
  padding: 13px;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c2c2c2;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(30%, 80%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(-50%, 20%);
}
/*選擇器展開樣式更改*/
.fillout ul {
  width: 200px;
  background: rgb(255, 255, 255);
  border: 1px solid #c2c2c2;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  box-shadow: rgb(121, 121, 121);
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 15px;
  max-height: 200px;
  overflow-y: auto;
}

.fillout li {
  margin: 0px 0px 15px 0px;
}
.fillout .ul li:checked {
  background-color: #727272;
}

.fillout li:first-child {
  padding-top: 0;
}

.fillout li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

summary.radios:before {
  content: var(--selection);
}

input[type="radio"] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type="radio"]:checked {
  display: inline;
  --display: block;
}

input[type="radio"]:after {
  content: attr(title);
  display: inline;
  font-size: 16px;
}

ul.list {
  counter-reset: labels;
}

label {
  width: 100%;

  cursor: pointer;
  justify-content: space-between;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
}
#default {
  font-size: 20 px;
}
.select,
.quantity {
  width: 75%;
}
.material p {
  display: inline-block;
  vertical-align: top;
}
.option {
  padding: 10px;
}

.pickup-info select {
  width: 130px;
  height: 50px;
  border-radius: 15px;
  padding-left: 15px;
}
.address-pay p,
.pickup-info p,
.receipt p {
  font-size: 20px;
  text-align: left;
  display: inline-block;
  letter-spacing: 10%;
  margin-right: 10px;
  padding: 20px 0;
  vertical-align: middle;
}
.receipt p,
.receipt input {
  margin-bottom: 40px;
  vertical-align: middle;
}
#align {
  margin: 0px;
  margin-right: 10px;
}
.town {
  display: inline-block;
}
.type-address {
  display: inline-block;
}
.type-address input {
  width: 400px;
}
/*大區塊的內距外距*/
.address-pay,
.pickup-info,
.receipt {
  width: 70%;
  padding: 20px 0;
  margin: 40px auto;
  border-bottom: 1px solid #c2c2c2;
}
.receipt {
  border-bottom: 0px solid #c2c2c2;
}
.note input {
  width: 550px;
  height: 210px;
  margin-bottom: 50px;
  margin-left: 50px;
}
.card-2 {
  position: relative;
  width: 80%;
  height: 450px;
  border-radius: 15px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
  padding: 23px 25px 37px 25px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15%;
}
.card-2 h1 {
  font-size: 36px;
  letter-spacing: 10%;
  padding: 75px 0 30px 0;
  display: inline-block;
}
.costtitle,
.lastcheck {
  display: inline-block;
}
.lastcheck {
  position: absolute;
  right: 1%;
}
.check1,
.check2 {
  display: inline-block;
  float: right;
  margin: 0;
  width: 60%;
}
.check1,
.check2 th {
  font-size: 20px;
  padding-top: 75px;
}
.check1 td {
  text-align: right;
  padding: 0 0 20px 300px;
}
.check2 td {
  font-size: 36px;
  color: #ffc701;
  text-align: right;
  padding-left: 320px;
}
.buttons {
  text-align: right;
  margin: 0 15%;
  width: 80%;
}
.buttons button a {
  text-decoration: none;
  color: #000000;
}
.lastpage,
.confirm {
  width: 250px;
  height: 50px;
  border-radius: 15px;
  margin-top: 50px;
  font-size: 20px;
  box-shadow: 0;
}
.lastpage {
  background-color: #ffffff;
  border: 1px solid #908f88;
  box-shadow: none;
}
.lastpage:hover {
  background-color: #c2c2c2;
  border: none;
}
.confirm {
  background-color: #fbdb6b;
  border: 0px;
  margin-left: 30px;
}
.confirm:hover {
  background-color: #ffc701;
}
.radios input {
  border: solid white 1px;
}
.backgroud {
  background-color: white;
  box-shadow: 10px #393833;
  box-shadow: 0px 10px 5px #d6d6d6;
}
.navbar {
  height: 118px;
  z-index: 100;
  width: 100%;
}
.navbar-collapse {
  flex-grow: 0;
}
.search:hover .nav-text {
  display: block;
}
.search {
  position: relative;
}
.container-fluid,
.collapse {
  padding: 25px 0;
}
.nav-text {
  width: 270px;
  display: none;
  position: absolute;
  top: -3px;
  right: 2px;
  display: none;
}
.nav-text input {
  border-radius: 15px;
  border: 1.5px solid #ffc701;
}
.nav-text button {
  background-color: white;
  color: #ffc701;
  border: white;
}
.nav-shopping {
  margin-right: 10px;
}
.nav-shopping,
.navbar-toggler {
  display: inline-block;
}
.ol,
ul {
  padding-left: 0;
}
.navbar-nav {
  --bs-nav-link-padding-x: none;
}
.container-fluid {
  margin: 0 13%;
}
.nav-item,
.nav-icon,
.nav-search {
  font-size: 20px;
  font-weight: normal;
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
}
.nav-link {
  color: #908f88;
}
.navbar-nav {
  margin-right: 15px;
}
.nav-link:hover {
  color: #ffc701;
}
.nav-icon:hover {
  color: #ffc701;
}
.nav-button {
  background-color: #ffc701;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  padding: 15px 47px 15px 47px;
  border-radius: 15px;
  border: #ffc701;
  text-decoration: none;
}
.nav-button:hover {
  background-color: #fbdb6b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
}
.footer {
  display: inline-block;
  background-color: #f5f5f5;
  height: 100px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  margin: 133px auto 0;
}
.footer a {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #393833;
  text-decoration: none;
  width: 12%;
  margin-left: 6px;
  font-size: 20px;
}
.footer a:hover {
  color: #908f88;
}
.down-down {
  display: flex;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 90px;
  justify-content: center;
}
.footer,
.down-down {
  justify-content: center;
}
.material-symbols-outlined {
  background-color: #908f88;
  color: #ffffff;
  border-radius: 60px;
  margin-left: 5px;
  padding: 10px;
  font-size: 24px;
}
.material-symbols-outlined:hover {
  background-color: #fbdb6b;
  color: #ffffff;
  border-radius: 60px;
  margin-left: 5px;
  padding: 10px;
  font-size: 24px;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler,
  .navbar-expand-lg .nav-shopping {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar-expand-lg .container-fluid .navbar-brand img {
    width: 105px;
    height: auto;
  }
  .navbar-brand {
    margin-left: 5%;
  }
  .phone {
    margin-right: 5%;
  }
  .container-fluid {
    position: relative;
    margin: 0 0%;
  }
  .navbar-collapse {
    background-color: white;
    width: 100%;
    height: 1080px;
    box-shadow: 0 10px 5px inset #d6d6d6;
  }
  .nav-item {
    font-size: 20px;
    font-weight: normal;
    padding: 18px;
    display: inline-block;
    vertical-align: middle;
  }
  .navbar-nav {
    margin: 0 5%;
    position: relative;
    top: 130px;
  }
  .nav-link {
    padding: 0 18px;
    height: 50px;
    border-bottom: solid #908f88 1px;
  }

  .nav-text {
    display: block;
  }
  .nav-icon {
    display: none;
  }
  .nav-search {
    padding: 0;
  }
  .nav-car {
    color: #908f88;
  }
  .nav-car:hover {
    color: #ffc701;
  }
  .search {
    position: relative;
    top: -340px;
  }
  .nav-search .search a {
    display: none;
  }
  .nav-text {
    width: 100%;
    left: 0%;
  }
  .nav-text input {
    width: 100%;
    height: 61px;
    border-radius: 15px;
    border: 1.5px solid #908f88;
    padding-inline-start: 68px;
  }
  .nav-text button {
    position: absolute;
    left: 27px;
    top: 14px;
    color: #393833;
  }
  .nav-button {
    position: absolute;
    background-color: white;
    color: #908f88;
    font-family: Arial, Helvetica, sans-serifS;
    width: 95%;
    height: 50px;
    font-size: 20px;
    font-weight: normal;
    padding: 0 18px;
    border-radius: 0px;
    border: #ffc701;
    text-decoration: none;
    border-bottom: solid #908f88 1px;
  }
  .nav-button:hover {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffc701;
  }
  .nav-button button {
    font-size: 20px;
    background-color: white;
    color: #908f88;
  }
  .info-text {
    display: none;
  }
  .media-text {
    width: 80%;
    display: block;
    border-bottom: 1px solid #c2c2c2;
    margin-top: 50px;
    font-size: 20px;
    box-shadow: none;
  }
  .table-two {
    box-shadow: none;
  }
  .table-two tr,
  .table-two td {
    padding: 0%;
  }
  .table-c {
    display: none;
  }
  .table-img {
    display: block;
    margin-top: 10px;
    padding-left: 2%;
  }
  .table-img img {
    width: 150px;
  }
  .table-img p {
    font-size: 20px;
    padding-left: 20px;
    vertical-align: middle;
    margin: 0;
  }
  .table-m {
    display: block;
    padding-top: 5%;
    box-shadow: 12px 15px 15px -10px #c2c2c2;
    border-radius: 10px;
    position: relative;
    padding-left: 2%;
    height: 200px;
  }
  td a {
    position: absolute;
    right: 20px;
    font-size: 24px;
    font-weight: lighter;
  }
  .table-m th {
    font-size: 14px;
    padding-left: 20px;
  }
  .table-m td {
    font-size: 10px;
    padding: 2% 0 2% 20%;
  }
  .address-pay,
  .pickup-info,
  .receipt,
  .costtitle {
    padding: 0;
  }
  .address-pay h1,
  .pickup-info h1,
  .receipt h1,
  .costtitle h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .address-pay p,
  .pickup-info p,
  .receipt p {
    font-size: 14px;
  }
  details {
    font-size: 14px;
  }
  input {
    font-size: 14px;
  }
  .type-address input,
  .note input {
    width: 230px;
  }
  .note p {
    vertical-align: top;
  }
  .note input {
    margin: 15px 0 50px 35px;
    width: 80%;
  }
  .card-2 {
    position: relative;
    width: 80%;
    height: 280px;
    border-radius: 15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    padding: 23px 25px 37px 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15%;
  }
  .costtitle h1 {
    margin: 0;
    padding: 0;
  }
  .costtitle {
    display: block;
  }
  .lastcheck {
    left: 23px;
  }
  .check1,
  .check2 {
    float: left;
  }
  .check1,
  .check2 th {
    font-size: 14px;
    padding-top: 30px;
  }
  .check1 td {
    position: absolute;
    right: 10px;
    text-align: right;
  }
  .check2 td {
    position: absolute;
    right: 10px;
    top: 100px;
    font-size: 20px;
  }

  .lastpage,
  .confirm {
    width: 150px;
  }
  .lastpage {
    border: #727272 solid 1px;
  }
  .footer a {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .media-text {
    width: 100%;
    display: block;
    border-bottom: 1px solid #c2c2c2;
    margin-top: 50px;
    font-size: 20px;
    box-shadow: none;
  }
  .table-two {
    box-shadow: none;
  }
  .table-two tr,
  .table-two td {
    padding: 0%;
  }
  .table-c {
    display: none;
  }
  .table-img {
    display: block;
    margin-top: 10px;
    padding-left: 2%;
  }
  .table-img img {
    width: 150px;
  }
  .table-img p {
    font-size: 20px;
    padding-left: 20px;
    vertical-align: middle;
    margin: 0;
  }
  .table-m {
    display: block;
    padding-top: 5%;
    box-shadow: 12px 15px 15px -10px #c2c2c2;
    border-radius: 10px;
    position: relative;
    padding-left: 2%;
    height: 200px;
    width: 90%;
  }
  td a {
    position: absolute;
    right: 20px;
    font-size: 24px;
    font-weight: lighter;
  }
  .table-m th {
    font-size: 14px;
    padding-left: 20px;
  }
  .table-m td {
    font-size: 10px;
    padding: 2% 0 2% 20%;
  }
  .address-pay,
  .pickup-info,
  .receipt,
  .costtitle {
    padding: 0;
  }
  .address-pay h1,
  .pickup-info h1,
  .receipt h1,
  .costtitle h1 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .address-pay p,
  .pickup-info p,
  .receipt p {
    font-size: 14px;
  }
  .twothree p,
  .twothree details {
    display: flow-root;
  }
  details {
    font-size: 14px;
  }
  input {
    font-size: 14px;
  }
  .type-address input,
  .note input {
    width: 230px;
  }
  .receipt p,
  .receipt input {
    margin-bottom: 0px;
  }
  .note p,
  .note input {
    display: flow-root;
  }
  .note p {
    vertical-align: top;
    text-align: left;
    margin-bottom: 0px;
  }
  .note input {
    margin: 0px 0 50px 0px;
    width: 80%;
  }
  .card-2 {
    position: relative;
    width: 80%;
    height: 280px;
    border-radius: 15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    padding: 23px 25px 37px 25px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15%;
  }
  .pickup-info {
    padding-bottom: 20px;
  }
  .costtitle h1 {
    margin: 0;
    padding: 0;
  }
  .costtitle {
    display: block;
  }
  .lastcheck {
    left: 23px;
  }
  .check1,
  .check2 {
    float: left;
  }
  .check1,
  .check2 th {
    font-size: 14px;
    padding-top: 30px;
  }
  .check1 td {
    text-align: right;
    position: absolute;
    right: 10px;
  }
  .check2 td {
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 100px;
  }

  .lastpage,
  .confirm {
    width: 150px;
  }
  .lastpage {
    border: #727272 solid 1px;
  }
  .footer {
    font-size: 14px;
  }
  .footer a {
    width: 16%;
  }
  .footer img {
    width: 20px;
    height: auto;
  }
  .material-symbols-outlined {
    background-color: #908f88;
    color: #ffffff;
    border-radius: 60px;
    margin-left: 5px;
    padding: 10px;
    font-size: 20px;
  }
  .material-symbols-outlined:hover {
    background-color: #fbdb6b;
    color: #ffffff;
    border-radius: 60px;
    margin-left: 5px;
    padding: 10px;
    font-size: 20px;
  }
}
