body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 36px;
  font-weight: normal;
}
.product {
  overflow: hidden;
  height: 100%;
}
.product-photo {
  width: 50%;
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.product-photo ::-webkit-scrollbar {
  display: none;
}
.product-photo img {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.product-details {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  margin-left: 5%;
}

.product-details {
  vertical-align: top;
  width: 80%;
  margin-left: 5%;
}
.product-info {
  border-bottom: 0px solid #c2c2c2;
  padding-bottom: 28px;
}
p {
  margin-right: 20px;
  color: #393833;
}
s .product-info,
.package-size {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 28px;
}
.product-info,
.package-size,
.produt-name,
.product-prize,
.go-back {
  text-align: left;
}
.need,
.quantity,
.material,
.file,
.face,
.add {
  margin-top: 20px;
}
.print {
  margin-top: -20px;
}
.quantity p,
.material p,
.thickness p,
.file p,
.face p,
.add p {
  width: 80px;
}
.need p,
.need a {
  display: inline-block;
  color: #393833;
}
.need a {
  text-decoration: none;
  color: #908f88;
  border-radius: 15px;
  line-height: 320%;
  text-align: center;
}
.next a {
  text-decoration: none;
  color: #000000;
  border-radius: 15px;
  line-height: 320%;
  width: 35%;
  text-align: center;
}
.need a:hover {
  color: #ffc701;
  line-height: 320%;
}
.cart a,
.next a {
  display: inline-block;
}

.quantity p,
.custom-select {
  display: inline-block;
}
details {
  position: relative;
  width: 45%;
}

details[open] {
  z-index: 1;
}
/*選擇器樣式更改*/
summary {
  padding: 7% 8%;
  cursor: pointer;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c2c2c2;
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

details[open] summary:before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

summary:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(30%, 80%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}

summary:focus {
  outline: none;
}

details[open] summary:after {
  transform: rotate(-45deg) translate(-50%, 20%);
}
/*選擇器展開樣式更改*/
.list {
  width: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid #c2c2c2;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  box-shadow: rgb(121, 121, 121);
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 15px;
  max-height: 200px;
  overflow-y: auto;
}
.count-button {
  text-align: center;
}
.content li {
  padding: 10px 15px 15px 15px;
}
.ul li:checked {
  background-color: #727272;
}
li:first-child {
  padding-top: 10;
}
.list li:hover {
  background-color: #fbdb6b;
}

li:last-child {
  border-bottom: none;
}
/* FAKE SELECT */

summary.radios {
  counter-reset: radios;
}

summary.radios:before {
  content: var(--selection);
}

input[type="radio"] {
  counter-increment: radios;
  appearance: none;
  display: none;
}

input[type="radio"]:checked {
  display: inline;
  --display: block;
}

input[type="radio"]:after {
  content: attr(title);
  display: inline;
  font-size: 16px;
}
ul.list {
  counter-reset: labels;
}

label {
  width: 100%;

  cursor: pointer;
  justify-content: space-between;
}

label span {
  --display: none;
  display: var(--display);
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
}
#default {
  font-size: 16px;
}
.select,
.quantity {
  width: 75%;
}
.material p,
.select {
  display: inline-block;
  vertical-align: top;
}
.form-select {
  width: 45%;
  padding: 10px 15px;
  border-radius: 15px;
}
.option {
  padding: 10px;
}
.input-box {
  margin-top: 20px;
}
.mm {
  width: 75%;
}
.thickness p,
.mm {
  display: inline-block;
}
.radio-wrapper label {
  width: 100%;
  border-radius: 15px;
  background-color: #e8e8e8;
  line-height: 320%;
  cursor: pointer;
}
/*當input被選到時，相對應的label要改變成黃色*/
.radio-wrapper input:checked ~ label {
  background-color: #fbdb6b;
  color: #393833;
}
.radio-wrapper input:hover ~ label {
  background-color: #fbdb6b;
  color: #393833;
}
.radio-wrapper input {
  display: none;
}
.radio-wrapper {
  display: inline-block;
  width: 45%;
  margin: 0px 10px 0px 0px;
  text-align: center;
  font-size: 16px;
}
.paper2:checked.input-box-art {
  display: block;
}
.input-box-art {
  display: none;
}
.file {
}
.upload {
  width: 75%;
}
.input img {
  width: 45%;
}
.file p,
.upload {
  display: inline-block;
}
.file-input {
  background-color: #e8e8e8;
  color: #000000;
  border-radius: 15px;
  width: 45%;
  line-height: 50px;
  text-align: center;
}
.file-input:hover {
  background-color: #fbdb6b;
  color: #393833;
}
/*包裝尺寸*/
.h-w p,
.h-w input {
  display: inline-block;
}
.h-w input {
  width: 20%;
  border-radius: 15px;
  border: 1px solid #c2c2c2;
  line-height: 280%;
  text-align: center;
  letter-spacing: 2px;
}
.h-w p {
  margin: 2px;
  letter-spacing: 2px;
}
.t-h {
  margin-top: 20px;
}
.h-w
/*厚度*/
.t-h p,
.t-h input {
  display: inline-block;
}
.t-h input {
  width: 20%;
  border-radius: 15px;
  border: 1px solid #c2c2c2;
  line-height: 280%;
  text-align: center;
  letter-spacing: 2px;
}
.t-h p {
  margin: 2px;
  letter-spacing: 2px;
}
.print p,
.mm input {
  display: inline-block;
}
.face-choice,
.face p,
.add p {
  display: inline-block;
}
.face-choice {
  width: 100%;
}
.face-radio {
  width: 100%;
  border-radius: 15px;
  background-color: #e8e8e8;
  line-height: 320%;
  cursor: pointer;
  text-align: center;
}
.face-radio input:checked ~ label {
  background-color: #fbdb6b;
  color: #393833;
  border-radius: 15px;
}
.face-radio input:hover ~ label {
  background-color: #fbdb6b;
  color: #393833;
  border-radius: 15px;
}

.face-radio input {
  display: none;
}
.face-radio {
  display: inline-block;
  width: 30%;
  margin-right: 3px;
}
.package-size {
  margin-top: 28px;
}
.count-button {
  background-color: #ffc701;
  border: 0px;
  border-radius: 15px;
  width: 35%;
  line-height: 50px;
  text-align: center;
}
.content button:hover {
  background-color: #fbdb6b;
  color: #393833;
}
.product-prize,
.go-back {
  text-align: right;
  margin-top: 30px;
}
.product-prize p {
  display: inline-block;
  width: 35%;
  margin-top: 28px;
}
.go-back {
  width: 80%;
  float: right;
}
.cart a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border-radius: 15px;
  border: 1px solid #c2c2c2;
  line-height: 320%;
  width: 45%;
  text-align: center;
}
.cart a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #e8e8e8;
}
#next {
  margin: 0px 0px 0px 10px;
  text-decoration: none;
  color: #000000;
  background-color: #ffc701;
  border: 1px #ffc701;
}
#next:hover {
  margin: 0px 0px 0px 10px;
  text-decoration: none;
  color: #000000;
  background-color: #fbdb6b;
}
img {
  vertical-align: middle;
}
.mainTab {
  background-color: #ffffff;

  margin-top: 80px;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.tabPanel {
  width: 100%;
  margin: auto;
  display: flex;
  text-align: center;
}
/*頁籤樣式*/
.tabPanel .tab {
  padding: 15px 20px;
  cursor: pointer;
}
.tabPanel label {
  width: 30%;
}
.line {
  border-bottom: 0.5px solid rgb(155, 155, 155);
}
.mainTab .contentGroup {
  padding: 20px;

  position: relative;
  text-align: center;
}
.intro-1 img {
  width: 44%;
  margin-top: 80px;
}
.text1 {
  margin-left: 40px;
  position: relative;
  bottom: 32px;
  line-height: 160%;
}
.intro-1 img,
.text1 {
  display: inline-block;
  vertical-align: baseline;
}
.text1 p,
.text1 h3,
.intro-4 p {
  text-align: left;
}
.intro-2-left,
.intro-2-right {
  display: inline-block;
  vertical-align: baseline;
  margin: 20px 30px;
}
.intro-2-right {
  width: 40%;
}
.intro-2-left {
  width: 40%;
}
.intro-2-right img {
  width: 90%;
}
.text2 {
  margin: 50px;
  line-height: 160%;
}
.text2,
.text2 h3 {
  text-align: center;
}
.text3 p {
  margin: 40px 0px 0px;
  line-height: 160%;
}
.intro-3 img {
  width: 88%;
}
.intro-4 p,
.intro-4 img {
  text-align: right;
}
.intro-4 p {
  line-height: 160%;
}
.intro-4 img {
  width: 90%;
}

.subTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
.content2 .subTitle {
  text-align: center;
}
.contentGroup .txt {
  line-height: 20px;
}

.contentGroup .content {
  display: none;
}

#tab1:checked ~ .contentGroup .content1,
#tab2:checked ~ .contentGroup .content2 {
  display: block;
}
#tab1:checked ~ .tabPanel .tab1,
#tab2:checked ~ .tabPanel .tab2 {
  background-color: #fbdb6b;
  border-radius: 15px 15px 0px 0px;
}
#tab1,
#tab2 {
  display: none;
}
h4 {
  margin: 44px;
}
.plus img {
  width: 72%;
}
.content {
  padding: 5%;
}
.footer {
  text-align: center;
}
.footer-gray a {
  text-decoration: none;
  color: #727272;
  width: 10%;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.footer-gray a:hover {
  text-decoration: none;
  color: #393833;
  width: 16%;
  margin: 10px;
}
.material-symbols-outlined {
  background-color: #908f88;
  width: 46px;
  line-height: 46px;
  color: #ffffff;
  border-radius: 60px;
  margin-left: 5px;
}
.material-symbols-outlined:hover {
  background-color: #fbdb6b;
  width: 46px;
  line-height: 46px;
  color: #ffffff;
  border-radius: 60px;
  margin-left: 5px;
}
.footer-gray {
  background-color: #f5f5f5;
  line-height: 132px;
  text-align: center;
  align-items: center;
}
.footer-white {
  line-height: 90px;
  color: #393833;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.backgroud {
  background-color: white;
  box-shadow: 10px #393833;
  box-shadow: 0px 5px 5px #eaeaea;
}
.navbar {
  width: 100%;
  height: 118px;
  z-index: 100;
}
.navbar-collapse {
  flex-grow: 0;
}
.search:hover .nav-text {
  display: block;
}
.search {
  position: relative;
}
.container-fluid,
.collapse {
  padding: 25px 0;
}
.nav-text {
  width: 270px;
  display: none;
  position: absolute;
  top: -3px;
  right: 2px;
  display: none;
}
.nav-text input {
  border-radius: 15px;
  border: 1.5px solid #ffc701;
}
.nav-text button {
  background-color: white;
  color: #ffc701;
  border: white;
}
.nav-text button {
  margin-top: 0;
}
.nav-shopping {
  margin-right: 10px;
}
.nav-shopping,
.navbar-toggler {
  display: inline-block;
}
.ol,
ul {
  padding-left: 0;
}
.navbar-nav {
  --bs-nav-link-padding-x: none;
}
.navbar-nav li {
  padding: 8px;
}
.container-fluid {
  margin: 0 13%;
}
.nav-item,
.nav-icon,
.nav-search {
  font-size: 20px;
  font-weight: normal;
  display: inline-block;
  vertical-align: middle;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-link {
  color: #908f88;
}
.navbar-nav {
  margin-right: 15px;
}
.nav-link:hover {
  color: #ffc701;
}
.nav-icon:hover {
  color: #ffc701;
}
.nav-button {
  background-color: #ffc701;
  color: #393833;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bolder;
  padding: 15px 47px 15px 47px;
  border-radius: 15px;
  border: #ffc701;
  text-decoration: none;
}
.nav-button:hover {
  background-color: #fbdb6b;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #ffffff;
}
.abc {
  height: 3000px;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler,
  .navbar-expand-lg .nav-shopping {
    display: none;
  }
}
@media (max-width: 992px) {
  .navbar-nav li {
    padding: 18px;
  }
  .navbar-expand-lg .container-fluid .navbar-brand img {
    width: 105px;
    height: auto;
  }
  .navbar-brand {
    margin-left: 5%;
  }
  .phone {
    margin-right: 5%;
  }
  .container-fluid {
    position: relative;
    margin: 0 0%;
  }
  .navbar-collapse {
    background-color: white;
    width: 100%;
    height: 1080px;
    box-shadow: 0 10px 5px inset #d6d6d6;
  }
  .nav-item {
    font-size: 20px;
    font-weight: normal;
    padding: 18px;
    display: inline-block;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar-nav {
    margin: 0 5%;
    position: relative;
    top: 130px;
  }
  .nav-link {
    padding: 0 18px;
    height: 50px;
    border-bottom: solid #908f88 1px;
  }
  .nav-text {
    display: block;
  }
  .nav-icon {
    display: none;
  }
  .nav-search {
    padding: 0;
  }
  .nav-car {
    color: #908f88;
  }
  .nav-car:hover {
    color: #ffc701;
  }
  .nav-search li {
    padding: 0%;
  }
  .search {
    position: relative;
    top: -350px;
  }
  .nav-search .search a {
    display: none;
  }
  .nav-text {
    width: 100%;
    left: 0%;
  }
  .nav-text input {
    width: 100%;
    height: 61px;
    border-radius: 15px;
    border: 1.5px solid #908f88;
    padding-inline-start: 68px;
  }
  .nav-text button {
    position: absolute;
    left: 27px;
    top: 14px;
    color: #393833;
  }
  .nav-button {
    position: absolute;
    background-color: white;
    color: #908f88;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    height: 50px;
    left: 3%;
    font-size: 20px;
    font-weight: normal;
    padding: 0 18px;
    border-radius: 0px;
    border: #ffc701;
    text-decoration: none;
    border-bottom: solid #908f88 1px;
  }
  .nav-button:hover {
    background-color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #ffc701;
  }
  .nav-button button {
    font-size: 20px;
    background-color: white;
    color: #908f88;
  }
}
.content {
  text-align: center;
}
#pic-none,
#pic-none2 {
  display: none;
}
.product-photo {
  width: 50%;
  text-decoration: none;
  text-align: center;
}
.product-photo img {
  text-align: center;
}

.product-details {
  vertical-align: top;
  width: 80%;
  margin-left: 5%;
}
.product-info {
  border-bottom: 0px solid #c2c2c2;
  padding-bottom: 28px;
}
.quantity p,
.material p,
.thickness p,
.file p,
.face p,
.add p {
  width: 80px;
  font-size: 14px;
  margin: 20px 0px;
}
h2 {
  text-align: center;
  font-size: 28px;
}
.quantity p,
.custom-select {
  display: flow-root;
  font-size: 14px;
}
.quantity,
.select {
  width: 100%;
}
details {
  position: relative;
  width: 100%;
}
/*選擇器樣式更改*/
summary {
  padding: 2% 4%;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #c2c2c2;
  list-style: none;
}
summary:after {
  content: "";
  display: inline-block;
  float: right;
  width: 0.5rem;
  height: 0.5rem;
  border-bottom: 1px solid currentColor;
  border-left: 1px solid currentColor;
  border-bottom-left-radius: 2px;
  transform: rotate(45deg) translate(100%, 20%);
  transform-origin: center center;
  transition: transform ease-in-out 100ms;
}
details[open] summary:after {
  transform: rotate(-45deg) translate(-10%, 70%);
}
.select {
  display: flow-root;
  vertical-align: top;
}
.form-select {
  width: 100%;
  padding: 10px 15px;
  border-radius: 10px;
}
.option {
  padding: 10px;
}
.list {
  width: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid #c2c2c2;
  position: absolute;
  top: calc(100% + 0.5rem);
  left: 0;
  box-shadow: rgb(121, 121, 121);
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
  max-height: 250px;
  overflow-y: auto;
}
.content li {
  padding: 2% 4%;
}
.radio-wrapper {
  display: inline-block;
  width: 22%;
  text-align: center;
  font-size: 16px;
  margin-right: 2%;
}
.thickness p,
.mm {
  display: flow-root;
}
.thickness p {
}
.mm {
  width: 100%;
  margin: 0;
}
.radio-wrapper label {
  width: 100%;
  border-radius: 10px;
  background-color: #e8e8e8;
  line-height: 320%;
  cursor: pointer;
}
.input-size p,
.input-size input {
  display: inline-block;
  vertical-align: middle;
}

.input-size p {
  width: 8%;
  margin-bottom: 20px;
}
#mm {
  margin-left: 8px;
  width: 4%;
  text-align: right;
}
.input-size {
  width: 100%;
}
.input-size input {
  padding: 2% 4%;
  width: 76%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  letter-spacing: 2px;
}
.print {
  margin-top: 20px;
}
.print p,
.mm input {
  display: flow-root;
}
.input-box {
  margin-top: 0%;
}
.file {
  width: 100%;
}
.file-input {
  width: 30%;
  border-radius: 10px;
}
.file p,
.upload {
  display: flow-root;
  width: 100%;
}
#next {
  border-radius: 10px;
}
.go-back {
  width: 100%;
}
.cart a {
  width: 30%;
}
.face-choice,
.face p,
.add p {
  display: flow-root;
}
.face-choice {
  width: 100%;
}
.face-radio {
  border-radius: 10px;
  background-color: #e8e8e8;
  line-height: 320%;
  cursor: pointer;
  text-align: center;
  width: 22%;
  margin-right: 2%;
}
.face-radio input:checked ~ label {
  background-color: #fbdb6b;
  color: #393833;
  border-radius: 10px;
}
.face-radio input:hover ~ label {
  background-color: #fbdb6b;
  color: #393833;
  border-radius: 10px;
}
.count-button {
  background-color: #ffc701;
  border: 0px;
  border-radius: 10px;
  width: 22%;
  line-height: 50px;
  text-align: center;
}
.content button:hover {
  background-color: #fbdb6b;
  color: #393833;
}
.product-prize,
.go-back {
  text-align: right;
  margin-top: 30px;
}
.product-prize p {
  display: inline-block;
  font-size: 14px;
  width: 19%;
  margin-top: 28px;
}
#left,
.cart a {
  text-align: left;
}
.cart a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid #c2c2c2;
  line-height: 320%;
  width: 22%;
  text-align: center;
}
.cart a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #e8e8e8;
}
#next {
  margin: 0px 0px 0px 10px;
  text-decoration: none;
  color: #000000;
  background-color: #ffc701;
  border: 1px #ffc701;
}
#next:hover {
  margin: 0px 0px 0px 10px;
  text-decoration: none;
  color: #000000;
  background-color: #fbdb6b;
}
.p > p {
  overflow: hidden;
  width: 100px;
  height: 300px;
  text-overflow: ellipsis;
}
